```graphql
[out:json][timeout:180];

// 서울지역 설정
// area["ISO3166-2"="KR-11"][admin_level=4][boundary="administrative"]->.searchArea;

// 전국 설정
area["ISO3166-1"="KR"][admin_level=2]->.searchArea;

// 서울 안에 있는 도서관 선택
(
  node["amenity"="library"](area.searchArea);
  // way["amenity"="library"](area.searchArea);
  // relation["amenity"="library"](area.searchArea);
);

// JSON으로 자료 (좌표, 이름 등) 포함해서 출력
out center;
```

In [2]:
import requests
import pandas as pd

In [25]:
url = "https://overpass-api.de/api/interpreter"
query = """
[out:json][timeout:180];
area["ISO3166-1"="KR"][admin_level=2]->.searchArea;
(
  node["amenity"="library"](area.searchArea);
);
out center;
"""

r = requests.post(url, data={"data": query})
data: dict = r.json()

In [26]:
[print(k, type(v)) for k, v in data.items()]
print()
print(data['elements'][0])

version <class 'float'>
generator <class 'str'>
osm3s <class 'dict'>
elements <class 'list'>

{'type': 'node', 'id': 368652466, 'lat': 37.497318, 'lon': 127.003258, 'tags': {'amenity': 'library', 'check_date': '2024-01-26', 'name': '국립중앙도서관', 'name:en': 'National Jungang Library', 'name:ko': '국립중앙도서관', 'name:ko-Latn': 'Gungnipjungangdoseogwan', 'ncat': '도서관', 'source': 'http://kr.open.gugi.yahoo.com'}}

In [44]:
pd.DataFrame(data['elements'])

,type,id,lat,lon,tags
0,node,368652466,37.497318,127.003258,"{'amenity': 'library', 'check_date': '2024-01-..."
1,node,368652476,37.554120,127.024842,"{'amenity': 'library', 'name': '성동구립금호도서관', 'n..."
2,node,368652481,37.566794,127.051319,"{'amenity': 'library', 'name': '성동구립용답도서관', 'n..."
3,node,368652535,37.565982,126.806533,"{'amenity': 'library', 'name': '원이영어도서관', 'nam..."
4,node,368652537,37.495475,127.033180,"{'amenity': 'library', 'name': '역삼도서관', 'name:..."
...,...,...,...,...,...
1491,node,12785458254,35.168822,129.155652,"{'amenity': 'library', 'internet_access': 'wla..."
1492,node,12797156099,36.594207,129.090320,"{'amenity': 'library', 'name': '입암면작은도서관'}"
1493,node,12811661729,37.593318,126.904741,"{'access': 'permit', 'amenity': 'library', 'na..."
1494,node,12811661730,37.593300,126.905438,"{'access': 'permit', 'amenity': 'library', 'na..."
1495,node,12821508806,37.490632,127.004958,"{'addr:city': '서울특별시', 'addr:district': '서초구',..."

In [45]:
pd.DataFrame(pd.json_normalize(data['elements']))

,type,id,lat,lon,tags.amenity,tags.check_date,tags.name,tags.name:en,tags.name:ko,tags.name:ko-Latn,...,tags.opening_date,tags.description,tags.operator:wikidata,tags.ref,tags.name:es,tags.access,tags.addr:unit,tags.baby_feeding,tags.image,tags.not:name
0,node,368652466,37.497318,127.003258,library,2024-01-26,국립중앙도서관,National Jungang Library,국립중앙도서관,Gungnipjungangdoseogwan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,node,368652476,37.554120,127.024842,library,NaN,성동구립금호도서관,Seongdongguripgeumho Library,성동구립금호도서관,Seongdongguripgeumhodoseogwan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,node,368652481,37.566794,127.051319,library,NaN,성동구립용답도서관,Seongdongguripyongdap Library,성동구립용답도서관,Seongdongguripyongdapdoseogwan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,node,368652535,37.565982,126.806533,library,NaN,원이영어도서관,Woniyeongeo Library,원이영어도서관,Woniyeongeodoseogwan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,node,368652537,37.495475,127.033180,library,NaN,역삼도서관,Yeoksam Library,역삼도서관,Yeoksamdoseogwan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1491,node,12785458254,35.168822,129.155652,library,NaN,부산광역시립해운대도서관 우동분관,NaN,부산광역시립해운대도서관 우동분관,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1492,node,12797156099,36.594207,129.090320,library,NaN,입암면작은도서관,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1493,node,12811661729,37.593318,126.904741,library,NaN,숭실고등학교도서관,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,permit,NaN,NaN,NaN,NaN
1494,node,12811661730,37.593300,126.905438,library,NaN,숭실중학교도서관,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,permit,NaN,NaN,NaN,NaN
1495,node,12821508806,37.490632,127.004958,library,2025-05-09,서초 그림책 도서관,Seocho Illustrated Book Library,서초 그림책 도서관,Seocho Grimchak Doseogwan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,https://picturebook.seocholib.or.kr/img/%EB%8F...,NaN

In [54]:
df = pd.DataFrame(pd.json_normalize(data['elements']))[['lat', 'lon', 'tags.name']]
df.columns = ['lat', 'lon', 'name']
df

            lat         lon               name
0     37.497318  127.003258            국립중앙도서관
1     37.554120  127.024842          성동구립금호도서관
2     37.566794  127.051319          성동구립용답도서관
3     37.565982  126.806533            원이영어도서관
4     37.495475  127.033180              역삼도서관
...         ...         ...                ...
1491  35.168822  129.155652  부산광역시립해운대도서관 우동분관
1492  36.594207  129.090320           입암면작은도서관
1493  37.593318  126.904741          숭실고등학교도서관
1494  37.593300  126.905438           숭실중학교도서관
1495  37.490632  127.004958         서초 그림책 도서관

[1496 rows x 3 columns]

In [56]:
print(any(df['lat'].isna()))
print(any(df['lon'].isna()))
print(any(df['name'].isna()))

False
False
True

In [39]:
df['tags'][0]

{'amenity': 'library',
 'check_date': '2024-01-26',
 'name': '국립중앙도서관',
 'name:en': 'National Jungang Library',
 'name:ko': '국립중앙도서관',
 'name:ko-Latn': 'Gungnipjungangdoseogwan',
 'ncat': '도서관',
 'source': 'http://kr.open.gugi.yahoo.com'}

In [ ]:
# 이름 안에 '도서관'이 안들어간 경우가 있음