In [1]:
import os
import sys

projdir = os.path.abspath(os.path.join(os.path.abspath(''), '..'))
sys.path.insert(1, projdir)
os.chdir(projdir)

projdir

'/home/maxjo/Projects/ds_pbl'

In [2]:
from utils.DB_connect import get_engine
from glob import glob
engine = get_engine()

import pandas as pd
from sqlalchemy import text
from sqlalchemy.types import Date, String

---
delays

In [3]:
file_pattern = os.path.join('data', 'subway_data', '노선별_지연시간_*')
files = glob(file_pattern)
print("files:", files)

df_subway_delay = pd.concat([pd.read_csv(file, encoding="euc-kr") for file in files], ignore_index=True)
df_subway_delay.drop(columns=["연번", "번호"], inplace=True)
df_subway_delay

files: ['data/subway_data/노선별_지연시간_20230831.csv', 'data/subway_data/노선별_지연시간_20241004.csv']

            지연일자           노선    지연시간대 최대지연시간
0     2023-01-01  7호선 (부천구청행)  09시~18시     5분
1     2023-01-01    7호선 (온수행)  09시~18시     5분
2     2023-01-01    7호선 (장암행)  09시~18시     5분
3     2023-01-02     2호선 (외선)   첫차~09시    20분
4     2023-01-02  7호선 (부천구청행)   18시~막차     5분
...          ...          ...      ...    ...
3266  2024-08-30    4호선 (하행선)   첫차~09시    10분
3267  2024-08-30    4호선 (상행선)   첫차~09시    10분
3268  2024-08-30    3호선 (하행선)   첫차~09시    10분
3269  2024-08-30    3호선 (상행선)   첫차~09시     5분
3270  2024-08-30     2호선 (외선)   첫차~09시    10분

[3271 rows x 4 columns]

In [4]:
df_subway_delay.to_sql(
    name='subway_delays',
    con=engine,
    if_exists='replace',  # Options: 'fail', 'replace', 'append'
    index=False,
    dtype={
        '지연일자': Date(),
        '노선': String(50),
        '지연시간대': String(10),
        '최대지연시간': String(10),
    } # type: ignore
)

2025-06-18 04:10:21,096 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-06-18 04:10:21,097 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:10:21,099 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-06-18 04:10:21,100 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:10:21,101 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-06-18 04:10:21,101 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:10:21,103 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-18 04:10:21,104 INFO sqlalchemy.engine.Engine DESCRIBE `datascience_pbl`.`subway_delays`
2025-06-18 04:10:21,104 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:10:21,109 INFO sqlalchemy.engine.Engine DESCRIBE `datascience_pbl`.`subway_delays`
2025-06-18 04:10:21,110 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:10:21,113 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `datascience_pbl`
2025-06-18 04:10:21,114 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:10:21,116 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `datascience_pbl`
2025-06-18 04:10:21,117 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:10:21,125 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `subway_delays`
2025-06-18 04:10:21,127 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:10:21,131 INFO sqlalchemy.engine.Engine
DROP TABLE subway_delays
2025-06-18 04:10:21,132 INFO sqlalchemy.engine.Engine [no key 0.00079s] {}
2025-06-18 04:10:21,159 INFO sqlalchemy.engine.Engine
CREATE TABLE subway_delays (
	`지연일자` DATE,
	`노선` VARCHAR(50),
	`지연시간대` VARCHAR(10),
	`최대지연시간` VARCHAR(10)
)


2025-06-18 04:10:21,160 INFO sqlalchemy.engine.Engine [no key 0.00107s] {}
2025-06-18 04:10:21,202 INFO sqlalchemy.engine.Engine INSERT INTO subway_delays (`지연일자`, `노선`, `지연시간대`, `최대지연시간`) VALUES (%(지연일자)s, %(노선)s, %(지연시간대)s, %(최대지연시간)s)
2025-06-18 04:10:21,203 INFO sqlalchemy.engine.Engine [generated in 0.00725s] [{'지연일자': '2023-01-01', '노선': '7호선 (부천구청행)', '지연시간대': '09시~18시', '최대지연시간': '5분'}, {'지연일자': '2023-01-01', '노선': '7호선 (온수행)', '지연시간대': '09시~18시', '최대지연시간': '5분'}, {'지연일자': '2023-01-01', '노선': '7호선 (장암행)', '지연시간대': '09시~18시', '최대지연시간': '5분'}, {'지연일자': '2023-01-02', '노선': '2호선 (외선)', '지연시간대': '첫차~09시', '최대지연시간': '20분'}, {'지연일자': '2023-01-02', '노선': '7호선 (부천구청행)', '지연시간대': '18시~막차', '최대지연시간': '5분'}, {'지연일자': '2023-01-02', '노선': '7호선 (온수행)', '지연시간대': '18시~막차', '최대지연시간': '5분'}, {'지연일자': '2023-01-02', '노선': '7호선 (장암행)', '지연시간대': '18시~막차', '최대지연시간': '5분'}, {'지연일자': '2023-01-02', '노선': '7호선 (부천구청행)', '지연시간대': '첫차~09시', '최대지연시간': '10분'}  ... displaying 10 of 3271 total bound parameter sets ...  {'지연일자': '2024-08-30', '노선': '3호선 (상행선)', '지연시간대': '첫차~09시', '최대지연시간': '5분'}, {'지연일자': '2024-08-30', '노선': '2호선 (외선)', '지연시간대': '첫차~09시', '최대지연시간': '10분'}]
2025-06-18 04:10:21,280 INFO sqlalchemy.engine.Engine COMMIT

3271

---
Sta. congestion

In [ ]:
file_pattern = os.path.join('data', 'subway_data', 'subway_sta_*')
files = glob(file_pattern)
print("files:", files)

files_df = list()
for file in files:  # 인코딩들이이 섞여있음
    df = None
    try:
        df = pd.read_csv(file, encoding="utf-8-sig", index_col=False)
        print("Reading as utf-8-sig", end=': ')
        # print(df.columns)
        
    except UnicodeDecodeError:
        df = pd.read_csv(file, encoding="euc-kr", index_col=False)
        print("Reading as euc-kr", end=': ')
        # print(df.columns)
    
    print(len(df))
    files_df.append(df)

df_station_users = pd.concat(files_df)

df_station_users.drop(columns=["등록일자"], inplace=True)
df_station_users.rename(columns={'사용일자': '일자', '노선명': '노선'}, inplace=True)

# 날짜 포멧으로 변경
df_station_users['일자'] = df_station_users['일자'].astype(str)
df_station_users['일자'] = df_station_users['일자'].apply(lambda x: f'{x[:4]}-{x[4:6]}-{x[6:8]}')

df_station_users

files: ['data/subway_data/subway_sta_202406.csv', 'data/subway_data/subway_sta_202309.csv', 'data/subway_data/subway_sta_202404.csv', 'data/subway_data/subway_sta_202407.csv', 'data/subway_data/subway_sta_202408.csv', 'data/subway_data/subway_sta_202405.csv', 'data/subway_data/subway_sta_202311.csv', 'data/subway_data/subway_sta_202312.csv', 'data/subway_data/subway_sta_202401.csv', 'data/subway_data/subway_sta_202402.csv', 'data/subway_data/subway_sta_202403.csv', 'data/subway_data/subway_sta_202310.csv']
Reading as utf-8-sig: 18488
Reading as utf-8-sig: 18302
Reading as utf-8-sig: 18483
Reading as utf-8-sig: 19103
Reading as utf-8-sig: 19132
Reading as utf-8-sig: 19110
Reading as utf-8-sig: 18313
Reading as utf-8-sig: 18956
Reading as utf-8-sig: 19001
Reading as euc-kr: 17807
Reading as utf-8-sig: 19079
Reading as utf-8-sig: 18911

               일자   노선   역명  승차총승객수  하차총승객수
0      2024-06-01  경부선  신도림    3746    4163
1      2024-06-01  3호선   신사   24723   26535
2      2024-06-01  3호선  압구정   26592   28521
3      2024-06-01  3호선   옥수    8041    8143
4      2024-06-01  3호선   금호    6886    6157
...           ...  ...  ...     ...     ...
18906  2023-10-31  중앙선   오빈     356     370
18907  2023-10-31  중앙선   양평    3385    3385
18908  2023-10-31  중앙선   원덕     405     374
18909  2023-10-31  중앙선   용문    2877    2785
18910  2023-10-31  중앙선   지평      86      89

[224685 rows x 5 columns]

In [6]:
df_station_users.to_sql(
    name='station_users',
    con=engine,
    if_exists='replace',  # Options: 'fail', 'replace', 'append'
    index=False,
    dtype={
        '일자': Date(),
        '노선': String(10),
        '역명': String(50),
    } # type: ignore
)

2025-06-18 04:10:21,588 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-18 04:10:21,591 INFO sqlalchemy.engine.Engine DESCRIBE `datascience_pbl`.`station_users`
2025-06-18 04:10:21,592 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:10:21,595 INFO sqlalchemy.engine.Engine DESCRIBE `datascience_pbl`.`station_users`
2025-06-18 04:10:21,596 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:10:21,598 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `datascience_pbl`
2025-06-18 04:10:21,599 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:10:21,601 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `datascience_pbl`
2025-06-18 04:10:21,602 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:10:21,604 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `station_users`
2025-06-18 04:10:21,605 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:10:21,609 INFO sqlalchemy.engine.Engine
DROP TABLE station_users
2025-06-18 04:10:21,610 INFO sqlalchemy.engine.Engine [no key 0.00068s] {}
2025-06-18 04:10:21,634 INFO sqlalchemy.engine.Engine
CREATE TABLE station_users (
	`일자` DATE,
	`노선` VARCHAR(10),
	`역명` VARCHAR(50),
	`승차총승객수` BIGINT,
	`하차총승객수` BIGINT
)


2025-06-18 04:10:21,635 INFO sqlalchemy.engine.Engine [no key 0.00096s] {}
2025-06-18 04:10:22,556 INFO sqlalchemy.engine.Engine INSERT INTO station_users (`일자`, `노선`, `역명`, `승차총승객수`, `하차총승객수`) VALUES (%(일자)s, %(노선)s, %(역명)s, %(승차총승객수)s, %(하차총승객수)s)
2025-06-18 04:10:22,557 INFO sqlalchemy.engine.Engine [generated in 0.67315s] [{'일자': '2024-06-01', '노선': '경부선', '역명': '신도림', '승차총승객수': 3746, '하차총승객수': 4163}, {'일자': '2024-06-01', '노선': '3호선', '역명': '신사', '승차총승객수': 24723, '하차총승객수': 26535}, {'일자': '2024-06-01', '노선': '3호선', '역명': '압구정', '승차총승객수': 26592, '하차총승객수': 28521}, {'일자': '2024-06-01', '노선': '3호선', '역명': '옥수', '승차총승객수': 8041, '하차총승객수': 8143}, {'일자': '2024-06-01', '노선': '3호선', '역명': '금호', '승차총승객수': 6886, '하차총승객수': 6157}, {'일자': '2024-06-01', '노선': '3호선', '역명': '약수', '승차총승객수': 10863, '하차총승객수': 10243}, {'일자': '2024-06-01', '노선': '3호선', '역명': '동대입구', '승차총승객수': 11493, '하차총승객수': 13231}, {'일자': '2024-06-01', '노선': '3호선', '역명': '충무로', '승차총승객수': 14, '하차총승객수': 0}  ... displaying 10 of 224685 total bound parameter sets ...  {'일자': '2023-10-31', '노선': '중앙선', '역명': '용문', '승차총승객수': 2877, '하차총승객수': 2785}, {'일자': '2023-10-31', '노선': '중앙선', '역명': '지평', '승차총승객수': 86, '하차총승객수': 89}]
2025-06-18 04:10:24,870 INFO sqlalchemy.engine.Engine COMMIT

224685

---
Train congestion

서울교통공사 1-8호선 30분 단위 평균 혼잡도로 30분간 지나는 열차들의 평균 혼잡도(정원대비 승차인원으로, 승차인과 좌석수가 일치할 경우를 혼잡도 34%로 산정) 입니다.(단위: %). 서울교통공사 혼잡도 데이터는 요일구분(평일, 토요일, 일요일), 호선, 역번호, 역명, 상하선구분, 30분단위 별 혼잡도 데이터로 구성되어 있습니다. (2024년 부터 분기별 데이터가 제공됩니다.)

In [ ]:
file_pattern = os.path.join('data', 'subway_data', '지하철*')
files = glob(file_pattern)
print("files:", files)

files_df = list()
for file in files:
    df = None
    try:
        df = pd.read_csv(file, encoding="utf-8-sig", index_col=False)
        print("Reading as utf-8-sig", end=': ')
        # print(df.columns)
        
    except UnicodeDecodeError:
        df = pd.read_csv(file, encoding="euc-kr", index_col=False)
        print("Reading as euc-kr", end=': ')
        # print(df.columns)

    df.drop(columns=["연번"], inplace=True, errors='ignore')  # 연번이 있는경우도 없는 경우도 있음
    oc = list(df.columns)  # 원래 컬럼명 저장, 이후 컬럼 reorder용

    date = file[-12:-4]  # 파일명에서 일자 추출
    df['일자'] = f'{date[:4]}-{date[4:6]}-{date[6:8]}'  # YYYY-MM-DD 포멧으로 변경

    df = df[['일자'] + oc]  # 일자 컬럼을 맨 앞으로 이동

    print(len(df))
    files_df.append(df)

df_train_congestions = pd.concat(files_df)

df_train_congestions.drop(columns=["역번호", '출발역', '상하구분'], inplace=True)
df_train_congestions.rename(columns={'호선': '노선'}, inplace=True)

df_train_congestions['노선'] = df_train_congestions['노선'].astype(str)
df_train_congestions['노선'] = df_train_congestions['노선'].apply(lambda x: f'{x}호선')

df_train_congestions

files: ['data/subway_data/지하철혼잡도정보_20240930.csv', 'data/subway_data/지하철혼잡도정보_20240630.csv', 'data/subway_data/지하철혼잡도정보_20240331.csv', 'data/subway_data/지하철혼잡도정보_20241231.csv', 'data/subway_data/지하철혼잡도정보_20231231.csv']
Reading as euc-kr: 1674
Reading as euc-kr: 1668
Reading as euc-kr: 1668
Reading as euc-kr: 1662
Reading as euc-kr: 1668

,일자,요일구분,노선,5시30분,6시00분,6시30분,7시00분,7시30분,8시00분,8시30분,...,20시00분,20시30분,21시00분,21시30분,22시00분,22시30분,23시00분,23시30분,00시00분,00시30분
0,2024-09-30,평일,1호선,9.7,8.7,5.0,8.7,10.3,17.5,14.4,...,26.1,25.7,27.8,23.8,22.4,23.7,22.9,15.1,8.7,0.0
1,2024-09-30,평일,1호선,21.7,19.2,29.2,45.6,70.2,66.6,63.0,...,11.3,9.8,11.4,10.3,8.2,9.4,8.2,8.5,2.4,0.2
2,2024-09-30,평일,1호선,10.0,10.7,7.5,9.1,12.5,20.1,17.6,...,30.5,25.5,34.3,27.0,25.0,26.9,25.6,17.2,11.9,0.0
3,2024-09-30,평일,1호선,21.7,20.4,30.2,45.6,63.2,74.1,64.5,...,13.3,11.0,11.7,10.5,9.1,10.0,8.5,8.6,2.3,0.3
4,2024-09-30,평일,1호선,9.0,13.3,8.2,10.1,14.5,21.7,20.9,...,30.9,26.2,35.4,27.9,26.0,28.1,25.4,16.6,13.1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,2023-12-31,일요일,8호선,7.1,3.2,3.8,2.5,5.4,5.0,5.4,...,3.7,3.5,4.5,3.6,3.0,2.6,2.6,1.5,0.8,0.0
1664,2023-12-31,일요일,8호선,2.0,1.8,2.9,2.7,2.4,3.2,4.6,...,5.2,5.2,6.3,5.6,3.6,4.9,2.9,2.8,0.0,0.0
1665,2023-12-31,일요일,8호선,9.8,4.3,3.4,2.7,4.6,5.3,6.0,...,2.3,1.9,3.0,1.8,1.6,1.1,1.0,0.7,0.3,0.0
1666,2023-12-31,일요일,8호선,1.2,0.8,2.5,2.1,1.9,2.1,3.2,...,5.9,5.7,6.5,6.2,3.7,5.0,3.4,2.9,0.0,0.0
1667,2023-12-31,일요일,8호선,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
df_train_congestions.to_sql(
    name='train_congestions',
    con=engine,
    if_exists='replace',  # Options: 'fail', 'replace', 'append'
    index=False,
    dtype={
        '일자': Date(),
    } # type: ignore
)

2025-06-18 04:21:36,469 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-18 04:21:36,473 INFO sqlalchemy.engine.Engine DESCRIBE `datascience_pbl`.`train_congestions`
2025-06-18 04:21:36,474 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:21:36,476 INFO sqlalchemy.engine.Engine DESCRIBE `datascience_pbl`.`train_congestions`
2025-06-18 04:21:36,477 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:21:36,479 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `datascience_pbl`
2025-06-18 04:21:36,480 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:21:36,481 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `datascience_pbl`
2025-06-18 04:21:36,482 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:21:36,483 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `train_congestions`
2025-06-18 04:21:36,484 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-18 04:21:36,486 INFO sqlalchemy.engine.Engine
DROP TABLE train_congestions
2025-06-18 04:21:36,486 INFO sqlalchemy.engine.Engine [no key 0.00043s] {}
2025-06-18 04:21:36,507 INFO sqlalchemy.engine.Engine
CREATE TABLE train_congestions (
	`일자` DATE,
	`요일구분` TEXT,
	`노선` TEXT,
	`5시30분` FLOAT(53),
	`6시00분` FLOAT(53),
	`6시30분` FLOAT(53),
	`7시00분` FLOAT(53),
	`7시30분` FLOAT(53),
	`8시00분` FLOAT(53),
	`8시30분` FLOAT(53),
	`9시00분` FLOAT(53),
	`9시30분` FLOAT(53),
	`10시00분` FLOAT(53),
	`10시30분` FLOAT(53),
	`11시00분` FLOAT(53),
	`11시30분` FLOAT(53),
	`12시00분` FLOAT(53),
	`12시30분` FLOAT(53),
	`13시00분` FLOAT(53),
	`13시30분` FLOAT(53),
	`14시00분` FLOAT(53),
	`14시30분` FLOAT(53),
	`15시00분` FLOAT(53),
	`15시30분` FLOAT(53),
	`16시00분` FLOAT(53),
	`16시30분` FLOAT(53),
	`17시00분` FLOAT(53),
	`17시30분` FLOAT(53),
	`18시00분` FLOAT(53),
	`18시30분` FLOAT(53),
	`19시00분` FLOAT(53),
	`19시30분` FLOAT(53),
	`20시00분` FLOAT(53),
	`20시30분` FLOAT(53),
	`21시00분` FLOAT(53),
	`21시30분` FLOAT(53),
	`22시00분` FLOAT(53),
	`22시30분` FLOAT(53),
	`23시00분` FLOAT(53),
	`23시30분` FLOAT(53),
	`00시00분` FLOAT(53),
	`00시30분` FLOAT(53)
)


2025-06-18 04:21:36,507 INFO sqlalchemy.engine.Engine [no key 0.00065s] {}
2025-06-18 04:21:36,664 INFO sqlalchemy.engine.Engine INSERT INTO train_congestions (`일자`, `요일구분`, `노선`, `5시30분`, `6시00분`, `6시30분`, `7시00분`, `7시30분`, `8시00분`, `8시30분`, `9시00분`, `9시30분`, `10시00분`, `10시30분`, `11시00분`, `11시30분`, `12시00분`, `12시30분`, `13시00분`, `13시30분`, `14시00분`, `14시30분`, `15시00분`, `15시30분`, `16시00분`, `16시30분`, `17시00분`, `17시30분`, `18시00분`, `18시30분`, `19시00분`, `19시30분`, `20시00분`, `20시30분`, `21시00분`, `21시30분`, `22시00분`, `22시30분`, `23시00분`, `23시30분`, `00시00분`, `00시30분`) VALUES (%(일자)s, %(요일구분)s, %(노선)s, %(5시30분)s, %(6시00분)s, %(6시30분)s, %(7시00분)s, %(7시30분)s, %(8시00분)s, %(8시30분)s, %(9시00분)s, %(9시30분)s, %(10시00분)s, %(10시30분)s, %(11시00분)s, %(11시30분)s, %(12시00분)s, %(12시30분)s, %(13시00분)s, %(13시30분)s, %(14시00분)s, %(14시30분)s, %(15시00분)s, %(15시30분)s, %(16시00분)s, %(16시30분)s, %(17시00분)s, %(17시30분)s, %(18시00분)s, %(18시30분)s, %(19시00분)s, %(19시30분)s, %(20시00분)s, %(20시30분)s, %(21시00분)s, %(21시30분)s, %(22시00분)s, %(22시30분)s, %(23시00분)s, %(23시30분)s, %(00시00분)s, %(00시30분)s)
2025-06-18 04:21:36,665 INFO sqlalchemy.engine.Engine [generated in 0.10254s] [{'일자': '2024-09-30', '요일구분': '평일', '노선': '1호선', '5시30분': 9.7, '6시00분': 8.7, '6시30분': 5.0, '7시00분': 8.7, '7시30분': 10.3, '8시00분': 17.5, '8시30분': 14.4, '9시00분': 11.7, '9시30분': 15.4, '10시00분': 15.3, '10시30분': 15.5, '11시00분': 16.2, '11시30분': 14.1, '12시00분': 14.7, '12시30분': 16.3, '13시00분': 19.0, '13시30분': 17.0, '14시00분': 19.1, '14시30분': 21.2, '15시00분': 19.6, '15시30분': 27.9, '16시00분': 32.2, '16시30분': 28.6, '17시00분': 32.9, '17시30분': 46.5, '18시00분': 65.9, '18시30분': 64.8, '19시00분': 43.7, '19시30분': 30.6, '20시00분': 26.1, '20시30분': 25.7, '21시00분': 27.8, '21시30분': 23.8, '22시00분': 22.4, '22시30분': 23.7, '23시00분': 22.9, '23시30분': 15.1, '00시00분': 8.7, '00시30분': 0.0}, {'일자': '2024-09-30', '요일구분': '평일', '노선': '1호선', '5시30분': 21.7, '6시00분': 19.2, '6시30분': 29.2, '7시00분': 45.6, '7시30분': 70.2, '8시00분': 66.6, '8시30분': 63.0, '9시00분': 48.8, '9시30분': 34.5, '10시00분': 34.3, '10시30분': 27.2, '11시00분': 18.9, '11시30분': 24.0, '12시00분': 23.6, '12시30분': 21.7, '13시00분': 23.9, '13시30분': 22.5, '14시00분': 18.8, '14시30분': 21.4, '15시00분': 29.0, '15시30분': 27.8, '16시00분': 22.7, '16시30분': 28.4, '17시00분': 30.0, '17시30분': 23.0, '18시00분': 28.5, '18시30분': 16.7, '19시00분': 12.6, '19시30분': 11.9, '20시00분': 11.3, '20시30분': 9.8, '21시00분': 11.4, '21시30분': 10.3, '22시00분': 8.2, '22시30분': 9.4, '23시00분': 8.2, '23시30분': 8.5, '00시00분': 2.4, '00시30분': 0.2}, {'일자': '2024-09-30', '요일구분': '평일', '노선': '1호선', '5시30분': 10.0, '6시00분': 10.7, '6시30분': 7.5, '7시00분': 9.1, '7시30분': 12.5, '8시00분': 20.1, '8시30분': 17.6, '9시00분': 15.8, '9시30분': 23.9, '10시00분': 15.1, '10시30분': 19.1, '11시00분': 20.8, '11시30분': 16.2, '12시00분': 17.5, '12시30분': 19.5, '13시00분': 22.7, '13시30분': 22.3, '14시00분': 21.4, '14시30분': 25.2, '15시00분': 26.6, '15시30분': 27.1, '16시00분': 37.8, '16시30분': 30.6, '17시00분': 41.1, '17시30분': 53.3, '18시00분': 72.5, '18시30분': 75.1, '19시00분': 47.1, '19시30분': 33.8, '20시00분': 30.5, '20시30분': 25.5, '21시00분': 34.3, '21시30분': 27.0, '22시00분': 25.0, '22시30분': 26.9, '23시00분': 25.6, '23시30분': 17.2, '00시00분': 11.9, '00시30분': 0.0}, {'일자': '2024-09-30', '요일구분': '평일', '노선': '1호선', '5시30분': 21.7, '6시00분': 20.4, '6시30분': 30.2, '7시00분': 45.6, '7시30분': 63.2, '8시00분': 74.1, '8시30분': 64.5, '9시00분': 50.3, '9시30분': 35.3, '10시00분': 35.0, '10시30분': 27.8, '11시00분': 24.8, '11시30분': 22.2, '12시00분': 27.3, '12시30분': 26.7, '13시00분': 23.1, '13시30분': 26.1, '14시00분': 21.9, '14시30분': 28.5, '15시00분': 29.5, '15시30분': 32.3, '16시00분': 23.2, '16시30분': 35.3, '17시00분': 34.2, '17시30분': 26.5, '18시00분': 34.1, '18시30분': 20.2, '19시00분': 14.5, '19시30분': 12.6, '20시00분': 13.3, '20시30분': 11.0, '21시00분': 11.7, '21시30분': 10.5, '22시00분': 9.1, '22시30분': 10.0, '23시00분': 8.5, '23시30분': 8.6, '00시00분': 2.3, '00시30분': 0.3}, {'일자': '2024-09-30', '요일구분': '평일', '노선': '1호선', '5시30분': 9.0, '6시00분': 13.3, '6시30분': 8.2, '7시00분': 10.1, '7시30분': 14.5, '8시00분': 21.7, '8시30분': 20.9, '9시00분': 19.4, '9시30분': 29.0, '10시00분': 19.8, '10시30분': 22.6, '11시00분': 25.5, '11시30분': 19.8, '12시00분': 20.0, '12시30분': 24.8, '13시00분': 27.0, '13시30분': 26.7, '14시00분': 26.1, '14시30분': 24.1, '15시00분': 33.8, '15시30분': 29.5, '16시00분': 39.4, '16시30분': 32.2, '17시00분': 41.7, '17시30분': 54.5, '18시00분': 73.8, '18시30분': 73.6, '19시00분': 46.7, '19시30분': 34.8, '20시00분': 30.9, '20시30분': 26.2, '21시00분': 35.4, '21시30분': 27.9, '22시00분': 26.0, '22시30분': 28.1, '23시00분': 25.4, '23시30분': 16.6, '00시00분': 13.1, '00시30분': 0.0}, {'일자': '2024-09-30', '요일구분': '평일', '노선': '1호선', '5시30분': 22.1, '6시00분': 21.9, '6시30분': 34.3, '7시00분': 45.0, '7시30분': 66.3, '8시00분': 79.7, '8시30분': 64.9, '9시00분': 52.5, '9시30분': 40.5, '10시00분': 34.0, '10시30분': 27.3, '11시00분': 28.7, '11시30분': 23.9, '12시00분': 26.3, '12시30분': 30.7, '13시00분': 24.3, '13시30분': 27.8, '14시00분': 21.8, '14시30분': 30.7, '15시00분': 28.1, '15시30분': 36.2, '16시00분': 25.4, '16시30분': 42.6, '17시00분': 34.5, '17시30분': 33.1, '18시00분': 37.6, '18시30분': 22.6, '19시00분': 16.1, '19시30분': 14.2, '20시00분': 14.5, '20시30분': 11.9, '21시00분': 13.5, '21시30분': 10.9, '22시00분': 10.9, '22시30분': 9.3, '23시00분': 8.5, '23시30분': 8.0, '00시00분': 1.9, '00시30분': 0.3}, {'일자': '2024-09-30', '요일구분': '평일', '노선': '1호선', '5시30분': 8.5, '6시00분': 14.5, '6시30분': 8.4, '7시00분': 12.8, '7시30분': 17.8, '8시00분': 25.6, '8시30분': 22.9, '9시00분': 19.4, '9시30분': 24.6, '10시00분': 22.2, '10시30분': 23.7, '11시00분': 27.9, '11시30분': 20.4, '12시00분': 21.8, '12시30분': 24.7, '13시00분': 29.0, '13시30분': 26.6, '14시00분': 27.0, '14시30분': 25.2, '15시00분': 35.4, '15시30분': 26.4, '16시00분': 40.0, '16시30분': 35.0, '17시00분': 36.9, '17시30분': 50.1, '18시00분': 74.7, '18시30분': 78.6, '19시00분': 43.0, '19시30분': 31.2, '20시00분': 33.0, '20시30분': 28.2, '21시00분': 40.0, '21시30분': 28.8, '22시00분': 28.6, '22시30분': 25.9, '23시00분': 27.9, '23시30분': 13.9, '00시00분': 14.5, '00시30분': 0.0}, {'일자': '2024-09-30', '요일구분': '평일', '노선': '1호선', '5시30분': 14.9, '6시00분': 18.2, '6시30분': 24.8, '7시00분': 47.6, '7시30분': 71.1, '8시00분': 87.7, '8시30분': 73.6, '9시00분': 56.2, '9시30분': 47.5, '10시00분': 36.6, '10시30분': 29.6, '11시00분': 30.1, '11시30분': 24.0, '12시00분': 32.3, '12시30분': 33.5, '13시00분': 28.3, '13시30분': 31.3, '14시00분': 24.2, '14시30분': 34.5, '15시00분': 32.5, '15시30분': 42.2, '16시00분': 29.6, '16시30분': 36.3, '17시00분': 38.3, '17시30분': 37.4, '18시00분': 41.9, '18시30분': 25.5, '19시00분': 18.8, '19시30분': 16.8, '20시00분': 15.0, '20시30분': 13.5, '21시00분': 15.1, '21시30분': 11.6, '22시00분': 13.1, '22시30분': 9.9, '23시00분': 8.7, '23시30분': 8.2, '00시00분': 1.9, '00시30분': 0.4}  ... displaying 10 of 8340 total bound parameter sets ...  {'일자': '2023-12-31', '요일구분': '일요일', '노선': '8호선', '5시30분': 1.2, '6시00분': 0.8, '6시30분': 2.5, '7시00분': 2.1, '7시30분': 1.9, '8시00분': 2.1, '8시30분': 3.2, '9시00분': 4.1, '9시30분': 3.7, '10시00분': 3.6, '10시30분': 3.9, '11시00분': 3.9, '11시30분': 5.1, '12시00분': 5.6, '12시30분': 6.3, '13시00분': 5.8, '13시30분': 6.9, '14시00분': 7.0, '14시30분': 6.4, '15시00분': 6.3, '15시30분': 6.6, '16시00분': 7.0, '16시30분': 6.1, '17시00분': 8.2, '17시30분': 7.9, '18시00분': 8.9, '18시30분': 8.5, '19시00분': 7.1, '19시30분': 5.6, '20시00분': 5.9, '20시30분': 5.7, '21시00분': 6.5, '21시30분': 6.2, '22시00분': 3.7, '22시30분': 5.0, '23시00분': 3.4, '23시30분': 2.9, '00시00분': 0.0, '00시30분': 0.0}, {'일자': '2023-12-31', '요일구분': '일요일', '노선': '8호선', '5시30분': 0.0, '6시00분': 0.0, '6시30분': 0.0, '7시00분': 0.0, '7시30분': 0.0, '8시00분': 0.0, '8시30분': 0.0, '9시00분': 0.0, '9시30분': 0.0, '10시00분': 0.0, '10시30분': 0.0, '11시00분': 0.0, '11시30분': 0.0, '12시00분': 0.0, '12시30분': 0.0, '13시00분': 0.0, '13시30분': 0.0, '14시00분': 0.0, '14시30분': 0.0, '15시00분': 0.0, '15시30분': 0.0, '16시00분': 0.0, '16시30분': 0.0, '17시00분': 0.0, '17시30분': 0.0, '18시00분': 0.0, '18시30분': 0.0, '19시00분': 0.0, '19시30분': 0.0, '20시00분': 0.0, '20시30분': 0.0, '21시00분': 0.0, '21시30분': 0.0, '22시00분': 0.0, '22시30분': 0.0, '23시00분': 0.0, '23시30분': 0.0, '00시00분': 0.0, '00시30분': 0.0}]
2025-06-18 04:21:37,205 INFO sqlalchemy.engine.Engine COMMIT

8340